attrs==23.2.0
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.3
Flask-Login==0.6.3
fonttools==4.51.0
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
joblib==1.4.0
kiwisolver==1.4.5
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.8.4
metar==1.11.0
multipledispatch==1.0.0
mysql-connector-python==8.3.0
numba==0.59.1
numpy==1.26.4
opencv-python==4.9.0.80
outcome==1.3.0.post0
packaging==24.0
pillow==10.3.0
psutil==5.9.8
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
selenium==4.20.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
threadpoolctl==3.4.0
toml==0.10.2
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.2
wsproto==1.2.0
